<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>
<% if @counter > 5 %>
<p class="notice">You have visited this page <%= pluralize(@counter, "time")%> without adding anything to the cart.</p>
<% end %>


<table class="table table-hover">
<% cache ['store', Product.latest] do %>
  <% @products.each do |product| %>
    <% cache ['entry', product] do %>
    
    <tr>
      <td><%= image_tag(product.image_url) %></td>
      <td>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <span class="price"><%= number_to_currency(product.price) %></span>
          <i class='icon-shopping-cart'></i><%= button_to raw("Add to Cart"), line_items_path(product_id: product), {remote: true, class: "btn btn-success"} %>
        </div>
      </td>
    </tr>
    <% end %>
  <% end %>
<% end %>
</table>
