<!DOCTYPE html>
<html>
<head>
  <title>Ahmed's Online Store</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>


<body>


<!-- Header Title -->
<div class="hero-unit">
  <h1>Ahmed's Online Store</h1>
  <p>Welcome to my store, I sell stuff here and trust me it's good.</p>
</div>


<div class="row">
    <div class="span4 well">

      <!-- Side Navigation -->
      <ul class="nav nav-list">
        <li class="nav-header">Navigation</li>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Questions</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <!-- Cart, which is hidden at first -->
      <% if @cart %>
        <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
            <%= render @cart %>
        <% end %>
      <% end %>
    </div>

    <div class="span8">
      <%= yield %>
    </div>
</div>
</body>
</html>
